**.idea
*.DS_Store
*.vscode
**/.venv
**/__pycache__
**/raw.py
**/stock_listing.txt
.ds_env
.ml_env
**.log
**/.backend_api_env
**/.env
**/mg_users-data
mg-cloud-server-094452-marketGenius.pem
Гипотезы.pdf